.navbar-record {
  padding: 4px 10px;
  background-color: #f8f9f8;

  }


.record-top-half-display {
  height: 300px;



  img {
    height: 300px;
    object-fit: cover;
  }
}

.record-gif {
  height: 100%;
}
