.map-show {
  position: relative;
}

.route-title-show {
  position: absolute;
  top: 0;
  z-index: 99;
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 10px;


  h1 {
    max-width: 25ch;
  }
}

.route-details-show {
  position: relative;

  p {max-width: 36ch;}
}

.favorite-show {
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
}

.buttons-show {
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 gap: 16px;
 padding: 20px;
 margin-top: 20px;
}

.route-pictures {
  display: grid;
	grid-template-columns: repeat(5, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
  margin-bottom: 0.4rem;


  img {
    width: 310px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.route-pictures li {
	display: block;
	border-radius: 3px;
  }

.route-pictures {
	scroll-snap-type: unset;
}

.route-pictures li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
  }
