.map-show {
  position: relative;
}

.route-title-show {
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: var(--cor-0);
  width: 100%;
  padding: 4px 0;
}

.route-details-show {
  position: relative;

  p {max-width: 36ch;}
}

#show-route-name {
background-color: #f8f9f8;
margin: 0;
padding: 6px
}

.details-type li {

  padding: 4px 12px;
  border: 1px solid var(--cor-4);
  border-radius: 12px;
}

.favorite-show {
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
}

.buttons-show {
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
 gap: 16px;
 padding: 20px;
 margin-top: 20px;
}

.route-creator-show {
position: absolute;
bottom: 6px;
right: 6px;
z-index: 1000;

  h3 {

  background-color: #fff;
  padding: 2px 4px;
  border-radius: 12px;

  }

}
