<footer class="footer">
  <div class="container">
      <ul class="footer-menu">
        <li>
          <%= link_to root_path, class: 'text-center' do %>
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          <% end  %>
        </li>
        <li>
          <%= simple_form_for Route.new do |f| %>
            <button type="submit" class='icon-button'>
              <i class="fa-solid fa-record-vinyl" style="cor-06"></i>
              <span>Gravar</span>
            </button>
          <% end %>
        </li>
        <li>
          <%= link_to favorites_path, class: 'text-center' do %>
            <i class="fa-solid fa-heart" style="cor-06"></i>
            <span>Salvos</span>
          <% end %>
        </li>
        <li>
          <%= link_to routes_path, class: 'text-center' do %>
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          <% end %>
        </li>
      </ul>
  </div>
</footer>
