<footer>
  <div class="container">
      <ul class="footer-menu">
        <li>
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </li>
        <li>
          <i class="fa-solid fa-record-vinyl" style="cor-06"></i>
          <span>Gravar</span>
        </li>
        <li>
           <%= image_tag "search.svg", size: "20x20", class: 'cor-6' %>
          <span>Search</span>
        </li>
      </ul>
  </div>
</footer>
