<div>
  <ul class="gallery-vertical">
    <% routes.each do |route| %>
      <li>
        <%= render partial: 'shared/route_card', locals: { route: route } %>
      </li>
    <% end %>
  </ul>
</div>
