<ul class="gallery">
  <% routes.each do |route| %>
    <li>
      <%= render partial: 'shared/route_card', locals: { route: route } %>
    </li>
  <% end %>
  <li>
    <%= link_to routes_path do %>
      <%= image_tag "arrow-right.svg", class:"button-arrow-right" %>
    <% end %>
  </li>
</ul>
