<ul class="gallery">
  <% routes.first(5).each do |route| %>
    <li>
      <%= render partial: 'shared/route_card', locals: { route: route } %>
    </li>
  <% end %>
  <li>
    <%= image_tag "arrow-right.svg", class:"button-arrow-right" %>
  </li>
</ul>
