
<div class="container pt-5 pb-5">
  <h1 class="pb-3">Best routes</h1>
   <%= render "shared/route_cards", routes: @routes %>
</div>
<% if current_user.present? %>
  <% if current_user.pinned_route.present? %>
    <%= link_to current_user.pinned_route.name, route_path(current_user.pinned_route)%>
  <% end %>
<% end %>
