
<div class="container pt-5 pb-5">
  <% if current_user.present? %>
    <% if current_user.pinned_route.present? %>
      <%= link_to current_user.pinned_route.name, route_path(current_user.pinned_route)%>
    <% end %>
  <% end %>
  <h2 class="pb-3 pt-5">Best routes</h2>
  <%= render "shared/route_cards_horizontal", routes: @routes %>
  </div>
<%= render "shared/type_cards_horizontal" %>
