
<div class="container pt-4 pb-4">
  <% if current_user.present? %>
    <% if current_user.pinned_route.present? %>
      <%= link_to current_user.pinned_route.name, route_path(current_user.pinned_route), class:"btn-pin"%>
    <% end %>
  <% end %>
  <h2 class="pb-3 pt-4">Best routes</h2>
  <div>
<form data-controller="routes" data-action="submit->routes#searchRoutes">
  <input type="text" id="city-input" placeholder="Digite o nome da cidade">
  <button type="submit">Buscar</button>
</form>
</div>
  <%= render "shared/route_cards_horizontal", routes: @routes %>
  </div>
<%= render "shared/type_cards_horizontal" %>
