
<div class="container pt-5 pb-5">
  <h1 class="pb-3">Best routes</h1>
   <%= render "shared/route_cards"%>
</div>
<% if current_user.pinned_route.present? %>
  <%= current_user.pinned_route.name%>
<% end %>
