:root {
  --cor-0: #ffffff;
  --cor-1: #eff1ee;
  --cor-2: #dde1dc;
  --cor-3: #c5ccc3;
  --cor-4: #b1b9af;
  --cor-5: #b1b9af;
  --cor-6: #899685;
  --cor-7: #606e5c;
  --cor-8: #3a4d35;
  --cor-9: #22371c;
  --cor-10: #0e1e0a;
  --cor-11: #0a1707;
  --cor-12: #000000;
  --cor-p1: #69D94A;
  --cor-p2: #2C6E1A;
  --cor-p3: #D9473F;
  --cor-s:  #f6f5e8;

}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-a1);
}
.cor-s {
  color: var(--cor-s);
}
