footer {
background-color: $light-gray-2;
padding: 12px 0 26px 0;
width: 100%;
bottom: 0;
position: fixed;
box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
;
}


.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button i {
  /* Add additional styling for the icon */
}


.footer-menu {
  display: flex;
  gap: 60px;
  justify-content: space-around;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
    height: 24px;

    span {
      color: var(--cor-7);
      display: block;
      font: 400 0.875rem/1.43 "Roboto", sans-serif;

      }

    i {
      font-size: 20px;
      color: var(--cor-7);
    }

    img {
      color: var(--cor-6);
    }

  }

}
