
<div class="container mt-3">
<h1 class="mb-3 cor-12 font-1-m-b">Routes</h1>

<%= render "shared/searchbar" %>

<% if @routes.blank? %>
  <p>No routes in this location</p>
<% else %>
  <%= render "shared/route_cards_vertical", routes: @routes %>
<% end %>
</div>

