<h1>Routes</h1>

<div id="routes">
<ul>
  <% @routes.each do |route| %>
    <li><%= route.name %> - <%= route.description %></li><%= link_to "Show this Route", route %>
  <% end %>
</ul>
<%= link_to "New Route", new_route_path, class: 'btn btn-primary' %>
