<div class="container mt-4">
  <h1 class="mb-3 cor-11 font-1-xl">Routes</h1>
  <%= render "shared/searchbar", address: @address, type_of_route: @type_of_route, distance: @distance %>
  <% if @routes.blank? %>
    <p>No routes in this location</p>
  <% else %>
    <%= render "shared/route_cards_vertical", routes: @routes %>
  <% end %>
</div>
