<h1>Routes</h1>

<div id="routes">
  <% @routes.each do |route| %>
    <%= render route %>
    <p>
      <%= link_to "Show this Route", route %>
    </p>
  <% end %>
</div>

  <%= link_to "New Route", new_route_path if policy(Route).new?  class: 'btn btn-primary'%>
