<%= rendder @route %>

        <div class="details-Ride">
          <ul>
            <li>Name<span><%= @route.name %></span></li>
            <li>Type of Route<span><%= @route.type_of_route %></span></li>
            <li>Description<span><%= @route.description %></span></li>
          </ul>
        </div>
      </div>
