<div class="route-details">
  <ul>
    <li>Name<span><%= @route.name %></span></li>
    <li>Type of Route<span><%= @route.type_of_route %></span></li>
    <li>Description<span><%= @route.description %></span></li>
  </ul>
</div>

<div data-controller = 'route-tracking' data-route-tracking-id-value='<%= @route.id %>'>
  <button class='btn btn-primary stopped' data-route-tracking-target='startstop' data-action='click->route-tracking#trackRoute'>Track Route</button><br/>
  <p data-route-tracking-target = 'status'></p>
  <p data-route-tracking-target = 'position'></p>
</div>
